/*Navigation++++++++++++++++*/
nav{
    padding: .25rem;
    ul{
        letter-spacing: normal;
        margin: 0;
        padding: 0;
    }
    li{

    }
    a{
        text-align: center;
        display: block;
        padding: .25rem .5rem;
    }
}